<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/9114e2d385.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <title>Supaplex | Welcome</title>
  </head>

  <body>
    <video autoplay muted loop id="myVideo">
      <source src="/images/ZONK-ANIMATION.mp4" type="video/mp4" />
    </video>
    <section>
      <div class="loader">
        <div>
          <div></div>
        </div>
        <div>
          <div></div>
        </div>
        <div>
          <div></div>
        </div>
        <div>
          <div></div>
        </div>
      </div>

      <main>
        <div class="glass">
          <div class="wrapper">
            <div class="box a" style="height: 100%">
              <center>
                <div class="profile-img">
                  <img src="/images/favicon.ico" />
                </div>
                <div class="links">
                   
                </div>
              </center>
            </div>
            <div class="box b">
              <h1 style="font-weight: 200; font-size: 50px">Home</h1>
            </div>
          </div>
        </div>
      </main>
    </section>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
