<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ERROR 404</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <link
      rel="shortcut icon"
      href="/images/favicon.ico"
      height="40px"
      width="40px"
    />
    <style>
      * {
        transition: 0.5s;
      }
      button {
        font-family: "Endo";
        border-radius: 4px;
        background-color: rgb(29, 29, 29);
        border: none;
        border-bottom: 5px solid rgb(81, 54, 255);
        color: white;
        padding: 10px 20px;
        width: 60%;
        text-decoration: none;
        cursor: pointer;
      }
      button:hover {
        border-radius: 25px;
        width: 75%;
      }
    </style>
  </head>
  <body>
    <!-- loader -->
    <div class="loader">
      <center>
        <div class="custom-loader"></div>
        <br />
        <span>Uh Oh...</span>
      </center>
    </div>
    <div class="text" style="color: white">
      <div
        class="404"
        style="
          text-align: center;
          border-radius: 5px;
          border: 2px solid white;
          width: 300px;
          margin: 0;
          position: absolute;
          padding: 10px 10px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        "
      >
        <img
          src="/images/supaplexZonk.svg"
          width="200px"
          style="filter: invert()"
        />
        <p style="text-align: center">
          Error 404 - Page Not found... <br />
          The port you have entered leads to...nowhere? <br />
          You can click this button to return to Supaplex home page.
          <i class="bx bx-down-arrow-circle"></i><br />
          <button onclick="location.href = '/'">Teleport to Supaplex</button>
        </p>
      </div>
    </div>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="javascripts/script.js"></script>
  </body>
</html>
