<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/9114e2d385.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <title>Supaplex | Welcome</title>
  </head>

  <body>
    <div class="vidC">
      <video autoplay muted loop id="myVideo">
        <source src="/images/ZONK-ANIMATION.mp4" type="video/mp4" />
      </video>
    </div>
    <section>
      <div class="loader">
        <img src="/images/supaplexZonk.svg" name="load" class="loader-img" />
      </div>

      <main>
        <div class="glass">
          <div class="wrapper">
            <div class="box a" style="height: 100%">
              <center>
                <div class="profile-img">
                  <img src="/images/favicon.ico" />
                </div>
                <div class="links">
                  <center style="width: 4vw">
                    <ol>
                      <li>
                        <a href="/" class="active"
                          ><i class="fa-solid fa-house"></i
                        ></a>
                      </li>

                      <li>
                        <a href="/levelsets"
                          ><i class="fa-solid fa-bars"></i
                        ></a>
                      </li>
                      <li>
                        <a href="/gameplay"
                          ><i class="fa-solid fa-gamepad"></i
                        ></a>
                      </li>
                      <li>
                        <a href="https://discord.gg/Rwsjdxg"
                          ><i class="fa-brands fa-discord"></i
                        ></a>
                      </li>

                      <li>
                        <a href="/about"
                          ><i class="fa-solid fa-question"></i
                        ></a>
                      </li>
                      <li>
                        <a href="/help"
                          ><i class="fa-solid fa-hand-holding-hand"></i
                        ></a>
                      </li>
                      <li>
                        <a href="https://www.supaplex.online/test/"
                          ><i class="fa-solid fa-vial-circle-check"></i
                        ></a>
                      </li>

                      <li>
                        <a href="https://sple.me/"
                          ><i class="fa-regular fa-pen-to-square"></i
                        ></a>
                      </li>

                      <li>
                        <a
                          href="#"
                          style="
                            background-color: #2e1bff23;
                            border-radius: 8px;
                          "
                          ><i class="fa-solid fa-arrow-right-from-bracket"></i
                        ></a>
                      </li>
                    </ol>
                  </center>
                </div>
              </center>
            </div>
            <div class="box b">
              <!--| ---Main Content |-->
              <div class="gridCont">
                <div class="update grdC">
                  <h2>Update</h2>
                  <p>
                    Game snapshot sessions have been disabled for now, because
                    of problems they caused.
                  </p>
                </div>
                <center style="display: flex; align-items: center">
                  <div class="newLevelsets grdC">
                    <h2>New Levelsets</h2>
                    <div class="levelSetNew1">
                      <a href="/levelsets">lorem ipsum</a>
                      <p class="smallT">Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="levelSetNew2">
                      <a href="/levelsets">lorem ipsum</a>
                      <p class="smallT">Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="levelSetNew3">
                      <a href="/levelsets">lorem ipsum</a>
                      <p class="smallT">Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="levelSetNew4">
                      <a href="/levelsets">lorem ipsum</a>
                      <p class="smallT">Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="levelSetNew5">
                      <a href="/levelsets">lorem ipsum</a>
                      <p class="smallT">Lorem ipsum dolor sit amet.</p>
                    </div>
                  </div>
                  <div class="recentLevels grdC">
                    <h2>Recent Upload</h2>
                    <div class="recentLevelsSub">
                      <a href="/gameplay" class="levelsRecent">Hello World</a>
                      <p class="smallT">By Endo</p>
                    </div>
                    <div class="recentLevelsSub">
                      <a href="/gameplay" class="levelsRecent">Hello World</a>
                      <p class="smallT">By Endo</p>
                    </div>
                    <div class="recentLevelsSub">
                      <a href="/gameplay" class="levelsRecent">Hello World</a>
                      <p class="smallT">By Endo</p>
                    </div>
                    <div class="recentLevelsSub">
                      <a href="/gameplay" class="levelsRecent">Hello World</a>
                      <p class="smallT">By Endo</p>
                    </div>
                    <div class="recentLevelsSub">
                      <a href="/gameplay" class="levelsRecent">Hello World</a>
                      <p class="smallT">By Endo</p>
                    </div>
                  </div>
                  <div class="activity grdC">
                    <h2>Levels Solved in the last 24H</h2>
                    <div class="tbCont">
                      <table>
                        <tbody>
                          <tr>
                            <td id="tbTime">1m ago</td>
                            <td id="tbName">Anonymous</td>
                            <td id="tbLevelS">solved level</td>
                            <td id="tbLevel">69</td>
                            <td id="tbOf">of</td>
                            <td id="tbLvlSet">supaplex.dat</td>
                            <td id="tbDemo">(demo)</td>
                            <td id="tbSeg">(segmented)</td>
                          </tr>
                          <tr>
                            <td id="tbTime">1m ago</td>
                            <td id="tbName">Anonymous</td>
                            <td id="tbLevelS">solved level</td>
                            <td id="tbLevel">69</td>
                            <td id="tbOf">of</td>
                            <td id="tbLvlSet">supaplex.dat</td>
                            <td id="demo">(demo)</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td id="tbTime">1m ago</td>
                            <td id="tbName">Anonymous</td>
                            <td id="tbLevelS">solved level</td>
                            <td id="tbLevel">69</td>
                            <td id="tbOf">of</td>
                            <td id="tbLvlSet">supaplex.dat</td>
                            <td id="demo">(demo)</td>
                            <td id="tbSeg">(segmented)</td>
                          </tr>
                          <tr>
                            <td id="tbTime">1m ago</td>
                            <td id="tbName">Anonymous</td>
                            <td id="tbLevelS">solved level</td>
                            <td id="tbLevel">69</td>
                            <td id="tbOf">of</td>
                            <td id="tbLvlSet">supaplex.dat</td>
                            <td id="demo">(demo)</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td id="tbTime">1m ago</td>
                            <td id="tbName">Anonymous</td>
                            <td id="tbLevelS">solved level</td>
                            <td id="tbLevel">69</td>
                            <td id="tbOf">of</td>
                            <td id="tbLvlSet">supaplex.dat</td>
                            <td id="demo">(demo)</td>
                            <td id="tbSeg">(segmented)</td>
                          </tr>
                          <tr>
                            <td id="tbTime">1m ago</td>
                            <td id="tbName">Anonymous</td>
                            <td id="tbLevelS">solved level</td>
                            <td id="tbLevel">69</td>
                            <td id="tbOf">of</td>
                            <td id="tbLvlSet">supaplex.dat</td>
                            <td id="demo">(demo)</td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </center>
                <div class="levels grdC">
                  <h2>Supaplex: Original levels</h2>
                  <div class="lvlSetsColumn">
                    <a href="/play/?levelset=supaplex.dat&amp;level=1"
                      >1: WARM UP
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=2"
                      >2: EXIT!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=3"
                      >3: STONE AGE
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=4"
                      >4: COLLECTOR
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=5"
                      >5: EASY DEAL
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=6"
                      >6: DOWN THEY FALL!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=7"
                      >7: GO THROUGH!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=8"
                      >8: GET THOSE TOO!!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=9"
                      >9: BUG FUNNY
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=10"
                      >10: EASY COME, EASY GO!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=11"
                      >11: RUN FOR LIFE!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=12"
                      >12: IGNORE THEM
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=13"
                      >13: ANONYMOUS
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=14"
                      >14: FALL OUT!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=15"
                      >15: ONE THING ...
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=16"
                      >16: JUST DO IT!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=17"
                      >17: BANG!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=18"
                      >18: QUICKY!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=19"
                      >19: CRAZY HARRY
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=20"
                      >20: MINOTAURUS!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=21"
                      >21: GRAVITY
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=22"
                      >22: UP AND DOWN
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=23"
                      >23: BOMB TIME
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=24"
                      >24: 200 MOVING OBJECTS!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=25"
                      >25: YAWN!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=26"
                      >26: ONE
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=27"
                      >27: ONCE AROUND
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=28"
                      >28: BABA'S WORK
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=29"
                      >29: TNT
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=30"
                      >30: NO PROBLEM!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=31"
                      >31: TIME TO OPEN!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=32"
                      >32: EASY BUSINESS
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=33"
                      >33: INSIDE OUTSIDE INSIDE
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=34"
                      >34: EASY RIDER!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=35"
                      >35: NO MIRACLE!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=36"
                      >36: PUSH!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=37"
                      >37: NEARLY BORING
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=38"
                      >38: BOMBASTIC
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=39"
                      >39: SIMPLE!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=40"
                      >40: MIND THE STONES
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=41"
                      >41: TIME RUNNER
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=42"
                      >42: LITTLE PLEASURE
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=43"
                      >43: ANTI CLOCKWISE!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=44"
                      >44: TELEPATHY
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=45"
                      >45: EASY WORK
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=46"
                      >46: CHAMBER MUSIC
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=47"
                      >47: LOOKS DIFFICULT
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=48"
                      >48: READY STEADY GO!!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=49"
                      >49: FALL FESTIVAL
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=50"
                      >50: DON'T WORRY!!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=51"
                      >51: STATE OF MIND
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=52"
                      >52: DO IT YOURSELF!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=53"
                      >53: FILL IN
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=54"
                      >54: CORNER CONFUSION!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=55"
                      >55: THE ELDRITCH!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=56"
                      >56: KEEP COOL!!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=57"
                      >57: THOSE WE LIKE!!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=58"
                      >58: ALL TOGETHER!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=59"
                      >59: VICE
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=60"
                      >60: VERSA
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=61"
                      >61: PRE IGNITION!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=62"
                      >62: GUMBO
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=63"
                      >63: PHIL'S FIRST!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=64"
                      >64: THERE YOU GO!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=65"
                      >65: PATHFINDER!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=66"
                      >66: ISLAND HOPPER
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=67"
                      >67: GET THEM OUT!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=68"
                      >68: TOUGH GOING
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=69"
                      >69: HURRY UP!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=70"
                      >70: TOUGH BUT POSSIBLE!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=71"
                      >71: HEAD HUNTER
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=72"
                      >72: COMMUNITY WORK!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=73"
                      >73: ONE WAY
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=74"
                      >74: INSPIN OUTSPIN!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=75"
                      >75: NICE
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=76"
                      >76: ALL THE FAMILY!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=77"
                      >77: LITTLE DETAIL
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=78"
                      >78: TRANSPORT IT!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=79"
                      >79: DON'T WASTE THEM!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=80"
                      >80: CLASSIC ENTERTAINMENT
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=81"
                      >81: DIAGONAL!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=82"
                      >82: TIME IS INFO!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=83"
                      >83: FUN TASTIC!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=84"
                      >84: ALL THAT FUSS
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=85"
                      >85: A PRO'S WORK!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=86"
                      >86: CRASH
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=87"
                      >87: SEE YOU TOMORROW!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=88"
                      >88: FLIP AND FLOP
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=89"
                      >89: TRIPLE FORK
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=90"
                      >90: KNOW THAT ?
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=91"
                      >91: VOYAGER III
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=92"
                      >92: HAM AND CHEESE SANDWICH</a
                    >
                    <a href="/play/?levelset=supaplex.dat&amp;level=93"
                      >93: TIMING!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=94"
                      >94: EINSTEIN'S FAVOURITE!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=95"
                      >95: GOOD LUCK
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=96"
                      >96: CRACKER
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=97"
                      >97: GOOD JOB!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=98"
                      >98: MIXED SALAD
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=99"
                      >99: JOYSTICK HANDLING
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=100"
                      >100: IQ!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=101"
                      >101: ON OFF!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=102"
                      >102: SUB EFFECTS
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=103"
                      >103: KNOW HOW!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=104"
                      >104: CHAOS
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=105"
                      >105: ONE'S MISSING
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=106"
                      >106: WATCH OUT!!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=107"
                      >107: FIND THE WAY!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=108"
                      >108: SADISM!
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=109"
                      >109: UPSTAIRS DOWNSTAIRS
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=110"
                      >110: TROUBLE AHEAD
                    </a>
                    <a href="/play/?levelset=supaplex.dat&amp;level=111"
                      >111: BRAINMAN!
                    </a>
                  </div>
                </div>
                <div class="help grdC">
                  <h2>Hey! Do you need help? ſ</h2>
                  <p>
                    Is the new UI a little confusing? Well don't worry! I will
                    help. You can do most of the stuff, like viewing all the
                    levelsets, testing levels, level editor (By Vovan-VE), and
                    more using the bar on the left. The main page/home page have
                    the updates, recent levels, levelsets, more. Design,
                    Artwork, and fonts by EndoBotM :D
                  </p>
                  <br />
                </div>
                <br />
              </div>
              <!--| --Main Content End |-->
            </div>
          </div>
        </div>
      </main>
    </section>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
