<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/9114e2d385.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <title>Supaplex | Levelsets</title>
  </head>

  <body>
    <video autoplay muted loop id="myVideo">
      <source src="/images/ZONK-ANIMATION.mp4" type="video/mp4" />
    </video>
    <section>
      <div class="loader">
        <img src="/images/supaplexZonk.svg" name="load" class="loader-img" />
      </div>

      <main>
        <div class="glass">
          <div class="wrapper">
            <div class="box a" style="height: 100%">
              <center>
                <div class="profile-img">
                  <img src="/images/favicon.ico" />
                </div>
                <div class="links">
                  <ol>
                    <li>
                      <a href="/" class="active"
                        ><i class="fa-solid fa-house"></i
                      ></a>
                    </li>
                  </ol>

                  <ol>
                    <li>
                      <a href="/levelsets"><i class="fa-solid fa-bars"></i></a>
                    </li>
                  </ol>
                  <ol>
                    <li>
                      <a href="/gameplay"
                        ><i class="fa-solid fa-gamepad"></i
                      ></a>
                    </li>
                  </ol>
                  <ol>
                    <li>
                      <a href="https://discord.gg/Rwsjdxg"
                        ><i class="fa-brands fa-discord"></i
                      ></a>
                    </li>
                  </ol>

                  <ol>
                    <li>
                      <a href="/about"><i class="fa-solid fa-question"></i></a>
                    </li>
                  </ol>
                  <ol>
                    <li>
                      <a href="/help"><i class="fa-solid fa-info"></i></a>
                    </li>
                  </ol>
                  <ol>
                    <li>
                      <a href="https://www.supaplex.online/test/"
                        ><i class="fa-solid fa-vial-circle-check"></i
                      ></a>
                    </li>
                  </ol>

                  <ol>
                    <li>
                      <a href="https://sple.me/"
                        ><i class="fa-regular fa-pen-to-square"></i
                      ></a>
                    </li>
                  </ol>

                  <ol>
                    <li>
                      <a
                        href="#"
                        style="background-color: #2e1bff23; border-radius: 8px"
                        ><i class="fa-solid fa-arrow-right-from-bracket"></i
                      ></a>
                    </li>
                  </ol>
                </div>
              </center>
            </div>
            <div class="box b">
              <!--| ---Main Content |-->
              <h1 style="font-weight: 200; font-size: 50px; margin-top: 10px">
                Levelsets!
              </h1>
              <p>Gregot pls insert levelsets i am too lazy, sry</p>
              <!--| --Main Content End |-->
            </div>
          </div>
        </div>
      </main>
    </section>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
